@font-face {
  font-family: 'EK-Mukta';
  src: url(/fonts/EK-Mukta.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Black';
  src: url(/fonts/Roboto-Black.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-BlackItalic';
  src: url(/fonts/Roboto-BlackItalic.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url(/fonts/Roboto-Bold.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-BoldItalic';
  src: url(/fonts/Roboto-BoldItalic.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Italic';
  src: url(/fonts/Roboto-Italic.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url(/fonts/Roboto-Light.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-LightItalic';
  src: url(/fonts/Roboto-LightItalic.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url(/fonts/Roboto-Medium.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-MediumItalic';
  src: url(/fonts/Roboto-MediumItalic.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url(/fonts/Roboto-Regular.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url(/fonts/Roboto-Thin.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url(/fonts/Roboto-ThinItalic.ttf) format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body,
#root,
#root > div {
  font-family: 'Roboto-Black', sans-serif;
  width: 100%;
  height: 100%;
}
html {
  overflow: hidden;
}
body {
  font-family: 'Roboto-Black', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.highlightedArea {
  pointer-events: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px #303b54 inset !important;
  -webkit-box-shadow: 0 0 0 30px #303b54 inset !important;
  -webkit-text-fill-color: #fff !important;
}

input {
  outline: none !important;
}

@media (max-width: 400px) {
  .embedded-service .fab {
    bottom: 90px !important;
  }
}

@supports not (-ms-high-contrast: none) {
  .embedded-service .fab {
    bottom: 90px !important;
  }
}

.quill > .ql-container > .ql-editor.ql-blank::before {
  /* font-size: 20px; */
  color: white;
  font-style: normal;
  font-family: 'Roboto-Black', sans-serif;
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: none !important;
  color: #fff;
}
.ql-container.ql-snow {
  max-height: 60%;
}
.ql-toolbar.ql-snow {
  background-color: #e3f1fd;
}

body {
  /* Disables pull-to-refresh but allows overscroll glow effects. */
  overscroll-behavior-y: contain;
}
